<div class="container col-md-6 border-dark">
    <form [formGroup]="myForm" (ngSubmit)="submitData(myForm.value)">
        <div class="row">
            <div class="col-md-12">
                <div class='col-md-4'>
                    <h4>Age</h4>
                    <input type="text" formControlName="age">
                </div>
                <div class='col-md-4'>
                    <h4>DOB</h4>
                    <input type="date" formControlName="dob">
                </div>
                <div class='col-md-4'>
                    <h4>Name</h4>
                    <input type="text" formControlName="name">
                </div>
            </div>
            <div class="row">
                <button class="btn btn-dark" type="submit">Save</button>
                <button class="btn btn-danger" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>